# This is only used by Github and Github Actions.
numpy==1.26.4
xarray[complete]==2025.1.2
pandas==2.2.3
scipy==1.15.2
geopandas==1.0.1
matplotlib==3.10.1
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
pytest==8.3.4
pytest-cov==6.0.0
pyyaml==6.0.2
ruff==0.9.9
