# This is only used by Github and Github Actions.
numpy==1.23.2
xarray==0.21.0
pandas==1.5.3
scipy==1.9.2
geopandas==0.13.2
matplotlib==3.7.2
Sphinx==2.0.1
sphinx-rtd-theme==0.5.0
pytest==7.4.0
pytest-cov==4.1.0
pyyaml==5.1.2
ruff==0.0.278