# This is only used by Github and Github Actions.
numpy==1.22.0
netcdf4==1.6.4
xarray==0.12.1
pandas==0.25.0
scipy==1.2.1
bottleneck==1.2.1
geopandas==0.5.0
dask==1.2.2
matplotlib==2.2.4
Sphinx==2.0.1
sphinx-rtd-theme==0.5.0
pytest==4.4.2
pytest-cov==2.7.0
pyyaml==5.1.2
ruff==0.0.278